{% extends 'app/base.html' %}
{% load static %}
{% block title %}ABOUT US{% endblock title %}
{% block main-content %}
<div class="container-fluid  px-0" >
    <img src="{% static 'app/images/about2.jpg' %}" alt="" height="500px" width="100%">  
</div>

<div class="container text-center">
    <h2>
        About us
    </h2>
 <p>
    Fitkart is an all-in-one fitness e-commerce website that helps people who wants to focus on their physical health by incorporating daily workouts and healthy diet. Fitness is a combination of 2 entities: exercise and good nutrition which not only helps to attain physical fitness but also mental health.
    Fitkart would be an e-commerce platform for fitness equipment like dumbbells, rods, barbells, skipping rope etc., fitness accessories like gloves, wrist bands, bands etc., and activewears for both men and women. As I’ve mentioned above, in fitness, exercise and nutrition come hand-in-hand, so this platform will also be providing customized diet plan majorly focused on veg, non-veg and vegan people. Along with that there would be an article page where people can get general awareness and knowledge about how to kickstart their fitness journey, like what is your goal and what are the do’s and don’ts in that. For e.g. If your goal is weight loss - what are the recommended workouts and what are the food items, you can avoid and can have.
    The major reason for such a platform is to attract more and more people to get them realize, how much physical health is important and busting myths circulating around the fitness world through the article page. As this is an all-in-one fitness platform, people who visit this page doesn’t have to visit other pages for different information. 
</p>
</div>
{% endblock main-content %}