{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <h1>Muscle gain:</h1><br>
 <p>A person’s build depends largely on genetic factors, which is why it is difficult for a naturally thin person to put on weight.<br> The human body can change to a limited extent through weight training and increased food intake. Gaining or regaining weight can be just as difficult as losing weight. When done in a smart, healthful way, many of the same basic principles apply to both gaining and losing weight.

    It is important to consult with your doctor to make sure that your weight-gaining tactics are healthy and appropriate for you.</p><br>
    <br>
    <h1>Difference between muscle and weight gain</h1><br>
    <h4>Resistance training for muscle gain</h4><br>
    <p>Resistance training promotes muscle growth. Examples of resistance training include the use of free weights, weight machines, your own body weight or resistance bands. Suggestions include:<br>
        <ul>

       <li> Train just two or three times per week to give your muscles time to recover. If you’re tempted to train more often, remember that muscle growth occurs during recovery.</li>
        <li>Choose compound exercises that work multiple major muscle groups, for example, the squat and bench press.
        <li>Make your workouts short and intense rather than long and leisurely.</li>
        <li>Don’t waste your time or money on powders, pills and products that claim to increase muscle mass. These claims are not scientifically proven.</li>
        <li>Seek professional advice. A gym instructor, personal trainer, exercise physiologist or physiotherapist will help make sure you are doing each exercise correctly. Good advice will increase your gains and reduce your risk of injury.</li></ul></p>
        <br>
        <h4>Lifestyle Adjustments for Weight Gain</h4><br>
        <ul>
            <li>Be prepared to eat when you are not hungry.</li>
                <li>Use a timer to remind yourself to eat every two hours.</li>
                <li>Try to make your additional eating sessions as appealing as possible. For example, stock the fridge and cupboard with snack foods you love.</li>
                <li>Eat small serves of protein foods before and after each resistance training session to help promote muscle growth.</li>
                <li>Accept that an increase in food intake may cause bloating or gas.</li>
                <li>Be prepared to gain some fat as well. It isn’t possible to increase muscle mass without also increasing body fat.</li>
        </ul>
    <br>
    <br>
    <h1>Things to follow:</h1><br>
    <ul>
        <li> EAT WHOLE FOODS 90% OF THE TIME</li>
        <li>EAT HEALTHY FATS  :  
            Healthy fats improve fat loss and health as they digest slowly. Make sure you balance your fat intake, eat healthy fats with every meal and avoid artificial trans-fats and margarine.</li>
        <li>DRINK WATER TO HELP YOU BUILD MUSCLE MASS  :  
            Strength training causes water loss through sweating which can impair muscle recovery and thus, it won’t help you increase your muscle mass. Drinking water prevents dehydration but also hunger since an empty stomach can make you think you’re hungry.</li>
        <li> EAT PROTEIN WITH EACH MEAL TO BOOST YOUR MUSCLE MASS  :  
            You need protein to build and maintain muscle. To achieve this, you should be looking to eat at least 1g per 454g of body-weight. That’s 200g/day if you weigh 91kg. The easiest way to get this amount is to eat a whole protein source with each meal.</li>
        <li> EAT BREAKFAST TO HELP BUILD MUSCLE MASS  :  
            This gives you an immediate burst of energy and helps you to stay full until your next meal or snack.</li>
    </ul>
    <br>
    <br>
    <h1>Foods to include in your diet: </h1><br>
    <ul>
        <li>Chicken Breast</li>
        <li>Eggs</li>
        <li>Tuna</li>
        <li>Salmon</li>
        <li>Greek Yogurt</li>
        <li>Brown Rice</li>
        <li>Protein Powder etc.</li>
    </ul>
    <br><br>
    <h1>Workout preferences for muscle gain</h1>
    <br>
    <p>Along with a high-protein, whole-foods diet, incorporating strength training exercise into your routine is crucial.<br>

        Strength training involves using resistance exercises to build strength and muscle mass. An example of strength training is lifting weights.<br>
        
        If building muscle and reducing fat is your goal, experts recommend a training protocol of at least two days of resistance training per week.<br>
        
        A review of 10 studies demonstrated that resistance training twice per week was more effective at maximizing muscle growth than training just once per week .<br>
    
        Combining strength training exercises like squats, bench presses, pushups and other muscle-building exercises for two to three days per week alongside one to two days per week of interval training may be the perfect combination.<br>
        
        Studies show that combining high-intensity interval training with resistance training leads to fat loss, as well as increased muscle mass and strength .</p><br>


</div>
{% endblock main-content %}