{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h1>What does Overweight Mean?</h1>
    <br>
    <p>Being underweight is defined as having a body mass index (BMI) below 18.5. This is estimated to be less than the
        body mass needed to sustain optimal health.<br>

        Conversely, over 25 is considered overweight and over 30 is considered obese.<br>

        Use this calculatorTrusted Source to see where you fit on the BMI scale .<br>

        However, keep in mind that there are many problems with the BMI scale, which only looks at weight and height. It
        does not take muscle mass into account.<br>

        Some people are naturally very skinny but still healthy. Being underweight according to this scale does not
        necessarily mean that you have a health problem.<br>

        Being underweight is about 2–3 times more common among girls and women, compared to men. In the US, 1% of men
        and 2.4% of women 20 years and older are underweight.</p><br><br>
    <h1>Consequences of being Underweight</h1>
    <br>
    <p>Obesity is currently one of the world’s biggest health problems.

        However, being underweight may be just as bad for your health. According to one study, being underweight was
        associated with a 140% greater risk of early death in men, and 100% in women.<br>

        In comparison, obesity was associated with a 50% greater risk of early death, indicating that being underweight
        may be even worse for your health .<br>

        Another study found an increased risk of early death in underweight men, but not women, suggesting that being
        underweight may be worse for men .<br>

        Being underweight can also impair your immune function, raise your risk of infections, lead to osteoporosis and
        fractures and cause fertility problems.<br>

        What’s more, people who are underweight are much more likely to get sarcopenia (age-related muscle wasting) and
        may be at greater risk of dementia.<br></p><br>
        <h1>How to Gain Weight in a Healthy Manner?</h1><br>
        <dl>
            <dt>Eat More Calories:</dt>
            <dd>If you want to gain weight slowly and steadily, aim for 300–500 calories more than you burn each day according to the calculator.

                If you want to gain weight fast, aim for around 700–1,000 calories above your maintenance level.
                
                Keep in mind that calorie calculators only provide estimates. Your needs may vary by several hundred calories per day, give or take.
                
                You don’t need to count calories for the rest of your life, but it helps to do it for the first few days or weeks to get a feel for how many calories you’re eating. There are many great tools out there to help you.</dd><br>
                <dt>Eat Energy-dense Food</dt>
                <dd>try to emphasize energy-dense foods as much as possible. These are foods that contain many calories relative to their weight.

                    Here are some energy-dense foods that are perfect for gaining weight:
                    
                    Nuts: Almonds, walnuts, macadamia nuts, peanuts, etc.
                    Dried fruit: Raisins, dates, prunes and others.
                    High-fat dairy: Whole milk, full-fat yogurt, cheese, cream.
                    Fats and oils: Extra virgin olive oil and avocado oil.
                    Grains: Whole grains like oats and brown rice.
                    Meat: Chicken, beef, pork, lamb, etc. Choose fattier cuts.
                    Tubers: Potatoes, sweet potatoes and yams.
                    Dark chocolate, avocados, peanut butter, coconut milk, granola, trail mixes.
                    Many of these foods are very filling, and sometimes you may need to force yourself to keep eating even if you feel full.</dd><br>
                    <dt>Lift Heavy Weights</dt>
                    <dd>To make sure that the excess calories go to your muscles instead of just your fat cells, it’s absolutely crucial to lift weights.

                        Go to a gym and lift 2–4 times per week. Lift heavy and try to increase the weights and volume over time.
                        
                        If you’re completely out of shape or new to training, consider hiring a qualified personal trainer to help you get started.
                        
                        You may also want to consult with a doctor if you have skeletal problems or any medical issue.
                        
                        It’s probably best to take it easy on the cardio for now — focus mostly on the weights.
                        
                        Doing some cardio is fine to improve fitness and well-being, but don’t do so much that you end up burning all the additional calories you’re eating.</dd><br>
                        <dt>Eat plenty of protein</dt>
                        <dd>Muscle is made of protein and without it most of those extra calories may end up as body fat.

                            Studies show that during periods of overfeeding, a high-protein diet causes many of the extra calories to be turned into muscle (12Trusted Source).
                            
                            However, keep in mind that protein is a double-edged sword. It’s also highly filling, which may reduce your hunger and appetite significantly, making it harder to get in enough calories (13Trusted Source, 14Trusted Source).
                            
                            If you’re trying to gain weight, aim for 0.7–1 grams of protein per pound of body weight (1.5–2.2 grams of protein per kilogram). You can even go above that if your calorie intake is very high.
                            
                            High-protein foods include meats, fish, eggs, many dairy products, legumes, nuts and others. Protein supplements like whey protein can also be useful if you struggle to get enough protein in your diet.</dd><br><br>
                            <h1>Foods to Eat to Gain weight</h1><br>
                            <ul>
                                <li>Rice</li>
                                <li>Home made protein smoothies</li>
                                <li>Milk</li>
                                <li>Healthy starch: Oats, Buckwheat, Corn, Potato, Squash etc.</li>
                                <li>Red Meat</li>
                                <li>Nut and Nut Butters</li>
                                <li>Protein Supplements</li>
                                <li>Cheese</li>
                                <li>Full fat yogurt</li>
                                <li>Dry Fruits etc.</li>
                                
                            </ul><br>
        </dl>
</div>
<br>{% endblock main-content %}<br>